@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --red:#d63a25;
    --white:#fff;
    --dark:#1e1c2a;
    --wave:#33CCFF
}
body{
    color: var(--dark);
    background: var(--white);
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 40px;
    box-shadow: 0 0.1rem 0.5rem #33ccff;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}
.navigation.logo{
    color: var(--wave);
    font-size: 1.7rem;
    font-weight: 600;
}
.logo span{
    color: var(--dark);
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-left: -20rem;
}
.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.7s;
}
.navigation ul li a:hover{
background-color: #fcfcfc;
padding: 2px 15px;
    border-radius: 30px;
    color: var(--wave);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}

.menu{
    cursor: pointer;
}

  .nav-put {
position: fixed;
margin-left: 72.5rem;
}

  .nav-put input[type="search"] {
    color: #fcfcfc;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #d4d4d4;
    outline: none;
    transition: background-color 1s ease;
    border-radius: 25px;
    height: 35px;
  }

  .nav-put input[type="search"]:focus {
    background-color: var(--wave);

}

.menu.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu.bar:nth-child(1),
.menu.bar:nth-child(3){
    background: var(--wave);
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}

.home-img{
    width: 200px;
    height: 150px;
    object-fit: cover; /* A imagem será cortada para preencher o contêiner */
    display: block; /* Evita que a imagem se mova como um elemento inline */
}

.imagem{
width: 900px;
height: auto;
margin-left: -500px;
margin-top: -350px;
}




.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--wave);
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.home-button{
    padding: 15px 45px;
    background: var(--wave);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
.home-button:hover{
    background: #ffffff;
    color: var(--wave);
    box-shadow: 0 0.1rem 0.5rem var(--wave);
}
.butum{
width: 55px;
height: 35px;
border-radius: 20px;
background-color: var(--white);
border: none;
}
.butum:hover{
background-color:#e7e7e7;
transition: 0.5s;

}

.bot{
padding-top: 5px;
}

.footeer{
box-sizing: border-box;
background-color: var(--wave);
color: #d4d4d4;
align-items: center;
display: flex;
justify-content:center;
padding: 80px 45px;
height: 0;
margin-top: 1000px;


}

.footeer-end{
color: var(--white);
font-size: 22px;
font-family: 'Poppins', sans-serif;


}

.skills{
background-color: var(--white);
padding: 0rem 0rem;
font-size: 35PX;
font-family: 'Poppins',sans-serif;
align-items: center;
justify-content: center;
display: flex;
margin-top: -00px;

}

.skills-front {
    background-color: var(--white);
    box-shadow: 0 0.1rem 0.5rem #000000;
    padding: 100px 100px;
    color: var(--dark);
    text-align: center;
    align-items: center;
    display:inline-block;
    justify-content: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 85px;
    padding-bottom: 85px;
}

.skills-front:hover {
    background-color: #efefef;
}

.skills-back {
    background-color: var(--white);
    box-shadow: 0 0.1rem 0.5rem #000000;
    padding: 100px 100px;
    color: var(--dark);
    align-items: center;
    text-align: center;
    display:inline-block;
    justify-content: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 85px;
    padding-bottom: 85px;
}

.skills-back:hover {
    background-color: #efefef;
}

.skills-banco {
    background-color: var(--white);
    box-shadow: 0 0.1rem 0.5rem #000000;
    padding: 100px 100px;
    color: var(--dark);
    text-align:end;
    align-items: center;
    display:inline-block;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 85px;
    padding-bottom: 85px;
}

.skills-banco:hover {
    background-color: #efefef;
}

.skills-tittle{
text-align: center;
display: flex;
justify-content: center;
font-size: 50px;
margin-top: 25px;
margin-bottom: 35px;
cursor: pointer;
padding: 35px 45px;
transition: background-color 0.2s ease, transform 0.3s ease;
}

.skills-tittle:hover{
background-color: rgba(0, 0, 0, 0);
transform: scale(1.3);
box-sizing: border-box;
border-radius: 25px;
padding: 35px 45px;


}

.skills-img-fro{
width: 100px;
height: auto;
margin-left: 0px;
margin-top: 0px;
display: flex;
justify-content: center;
align-items: center;
}

.skills-img-bac{
width: 100px;
height: auto;    
margin-left: 0px;
margin-top: 0px;
display: flex;
justify-content: center;
align-items: center;
}

.skills-img-bdd{
width: 100px;
height: auto;
margin-left: 20px;
margin-top: 0px;
display: flex;
justify-content: center;
align-items: center;
}

.motv{
padding: 0px 100px;
align-items: center;
background-color: var(--wave);
margin-top: 150px;


}

.motv-text{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
font-size: 50px;
display: block;
justify-content: center;
margin-top: 25px;
margin-bottom: 35px;
cursor: pointer;
transition: background-color 0.5s ease, transform 0.3s ease;

}

.motv-text:hover{
transform: scale(1.1);

}

.motv-home{
align-items: center;
justify-content: center;
display: inline;

}

.motv-1{
align-items: center;
justify-content: center;
background-color: rgba(255, 255, 255, 0.15);
box-shadow: 0 0.1rem 5rem #ffffff;
text-align: center;
padding: 35px 25px;
margin-top: 85px;
margin-bottom: 85px;
margin-left: 85px;
margin-right: 85px;
border-radius: 65px;
}

.motv-1:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

.motv-2{
align-items: center;
justify-content: center;
background-color: rgba(255, 255, 255, 0.15);
box-shadow: 0 0.1rem 5rem #ffffff;
text-align: center;
padding: 35px 25px;
margin-top: 85px;
margin-bottom: 85px;
margin-left: 85px;
margin-right: 85px;
border-radius: 65px;

}
.motv-2:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

.motv-3{
align-items: center;
justify-content: center;
background-color: rgba(255, 255, 255, 0.15);
box-shadow: 0 0.1rem 5rem #ffffff;
text-align: center;
padding: 35px 25px;
margin-top: 85px;
margin-bottom: 85px;
margin-left: 85px;
margin-right: 85px;
border-radius: 65px;

}

.motv-3:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

.motv-4{
align-items: center;
justify-content: center;
background-color: rgba(255, 255, 255, 0.15);
box-shadow: 0 0.1rem 5rem #ffffff;
text-align: center;
padding: 35px 25px;
margin-top: 85px;
margin-bottom: 85px;
margin-left: 85px;
margin-right: 85px;
border-radius: 65px;

}

.motv-4:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

.motv-5{
align-items: center;
justify-content: center;
background-color: rgba(255, 255, 255, 0.15);
box-shadow: 0 0.1rem 5rem #ffffff;
text-align: center;
padding: 35px 25px;
margin-top: 85px;
margin-bottom: 85px;
margin-left: 85px;
margin-right: 85px;
border-radius: 65px;

}

.motv-5:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

.motv-6{
align-items: center;
justify-content: center;
background-color: rgba(255, 255, 255, 0.15);
box-shadow: 0 0.1rem 5rem #ffffff;
text-align: center;
padding: 35px 25px;
margin-top: 85px;
margin-bottom: 85px;
margin-left: 85px;
margin-right: 85px;
border-radius: 65px;

}

.motv-6:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

.motv-foto-1{
align-items: center;
justify-content: center;
display: flex;
}

.motv-foto-2{
align-items: center;
justify-content: center;
display: flex;
}

.motv-foto-3{
align-items: center;
justify-content: center;
display: flex;
}

.motv-foto-4{
align-items: center;
justify-content: center;
display: flex;
}

.motv-foto-5{
align-items: center;
justify-content: center;
display: flex;
}

.motv-foto-6{
align-items: center;
justify-content: center;
display: flex;
}




.list-1{
display: inline-block -moz-stack;
background-color: var(--wave);
align-items: center;
justify-content: center;
margin-bottom: -220px;
display: flex;
}

.list-2{
    display: inline-block -moz-stack;
    display: flex;
    background-color: var(--wave);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.pa-1{
font-size: 20px;
color: #ffffff;

}

.pa-11{
color: #ffffff;
font-size: 13px;
}


.pa-2{
font-size: 20px;
color: #ffffff;
}
    
.pa-22{
color: #ffffff;
font-size: 13px;
}
    
.pa-3{
font-size: 20px;
color: #ffffff;
}
        
.pa-33{
color: #ffffff;
font-size: 13px;
}
        

.pa-4{
font-size: 20px;
color: #ffffff;
}
            
.pa-44{
color: #ffffff;
font-size: 13px;
}
            

.pa-5{
    font-size: 20px;
    color: #ffffff;
    }
                
.pa-55{
color: #ffffff;
font-size: 13px;
}
                

.pa-6{
font-size: 20px;
color: #ffffff;
}
                    
.pa-66{
color: #ffffff;
font-size: 13px;
}
                    
.dogmau-img{
height: auto;
width: 1000px;
margin-bottom: 1120px;
}
                    









@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 125%;
    }
}